<section class="content">
  <div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 with-claim-button">
              <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item bcrumb-1">
                      <a routerLink="/task/task" class="task-bcrumb">
                          <i class="fas fa-edit m-r-10"></i> Queue</a>
                  </li>
                  <li class="bcrumb-2">
                    <a routerLink="/task/{{accountId}}"> {{accountId}}</a>
                  </li>
                  <!-- <li class="breadcrumb-item active">Compose</li> -->
              </ul>
              <ul>
                <li *ngIf="!taskDetails?.assignee?.id"> <button type="button"
                  class="btn btn-info m-r-10 waves-effect" (click)="submitClaim(taskDetails?.id)">Claim</button> </li>
              </ul>
            </div>
        </div>
      </div>

    <div class="card margin-b-7">
      <div class="boxs mail_listing">
        <div class="row custom-indexer-info">
          <div class="col-lg-2">
            <span class="strong">Assignee</span> : {{taskDetails?.assignee?.fullName || 'Assigne To nobody'}} <i class="material-icons" data-toggle="modal" data-target="#select_person"
            style="cursor: pointer;position: absolute;top: -3px;right: -5px;"><span data-toggle="tooltip" data-original-title="Change Assignee"></span>add</i>
          </div>
          <div class="col-lg-2">
            <span class="strong">Due</span>: {{ taskDetails?.dueDate ||  taskDetails?.created | date: 'mediumDate' }}
          </div>
          <div class="col-lg-4">
            <span class="strong">Part of process: </span> <a href="/process/index?process_id={{taskDetails?.processInstanceId}}">{{taskDetails?.processDefinitionName}} - {{taskDetails?.created | date: 'mediumDate'}}</a>
          </div>
          <div class="col-lg-2">
            <span class="strong">Ended</span>: {{taskDetails?.endDate ? (taskDetails?.endDate | timeAgo) : '-N/A-'}} 
          </div>
          <div class="col-lg-2">
            <span class="strong">Duration</span>: {{ taskDetails?.duration / 60000 | number : '1.0' }} minutes
          </div>
        </div>
        <div class="row custom-indexer-info">
          <div class="col-lg-2">
            <span class="strong"><a data-toggle="tooltip" [attr.data-original-title]="involvePeople"> {{ taskDetails?.involvedPeople?.length > 0 ? taskDetails?.involvedPeople?.length + ' people involved' : 'No people involved' }}</a></span>
          </div>
          <div class="col-lg-2">
            <span class="strong"><a> {{ contentData?.data?.length > 0 ? contentData?.data?.length + ' content items' : 'No content items' }}</a></span>
          </div>
          <div class="col-lg-2">
            <span class="strong"><a>{{ commentDetails?.total ? commentDetails?.total : 'No' }} comments</a></span> 
          </div>
          <div class="col-lg-4 text-center" style="display: flex;justify-content: space-between;">
              <div class="strong"><a> {{ subTasklists?.length ? subTasklists?.length : 'No' }} sub tasks</a></div> 
              <div class="switch">
                  <label>Show Form
                      <input type="checkbox" id="show-form-details" [(ngModel)]="isChecked" (change)="checkValue($event)">
                      <span class="lever"></span>Show Details</label>
              </div>
          </div>
          <div class="col-lg-2">
            <button _ngcontent-klf-c3="" class="btn btn-primary pull-right m-r-10 waves-effect" type="button" data-toggle="modal" data-target=".bd-diagram-example-modal-lg">Show diagram</button>
          </div>
          <div class="modal fade bd-diagram-example-modal-lg" tabindex="-1" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="myLargeModalLabel">Diagram</h5>
                          <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body img-popup">
                          <img _ngcontent-fij-c3="" alt="" class="img-responsive thumbnail" src="assets/images/image-gallery/thumb/thumb-1.jpg">
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" [hidden]="isDetailsShow">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="boxs mail_listing">
            
            <div class="row">
              <div class="col-lg-12">
                <div *ngIf="!taskDetails?.formKey && formDataLoaded" class="no-form"> Form is not Available for this task</div>
                <form id="form_advanced_validation" *ngIf="taskDetails?.formKey" class="composeForm" name="singleTask" (ngSubmit)="updateOpenTask(singleTask)" #singleTask="ngForm">
                  <div class="row" style="position: relative; margin-left: -27px;">

                    <div *ngIf="loader" class="loader-div">
                        <div class="preloader">
                          <div class="spinner-layer pl-red">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                    <div [ngClass]="(processingForm?.fields[i].type != 'headline-with-line' && processingForm?.fields[i].type != 'headline' && processingForm?.fields[i].type != 'horizontal-line') ? 'col-md-6' : 'col-md-12'" *ngFor="let formitem of processingForm?.fields; index as i">

                      <div class="inbox-center table-responsive" *ngIf="formitem.type === 'headline-with-line' || formitem.type === 'headline' || formitem.type === 'horizontal-line'">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th colspan="1">
                                <div class="inbox-header">
                                  {{ formitem.name }}
                                </div>
                              </th>
                            </tr>
                          </thead>
                        </table>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'hyperlink' && formitem.type !== headline-with-line">
                        <div class="form-line ">
                          <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                          <input type="url" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}"
                            [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'password' && formitem.type !== headline-with-line">
                        <div class="form-line ">
                          <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                          <input type="password" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}"
                            [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                        </div>
                      </div>

                      

                      <div class="form-group" *ngIf="formitem.type == 'text' && formitem.type !== headline-with-line">
                          <div class="form-line ">
                              <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                              <input type="{{formitem.type}}" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}"  [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                          </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'email' && formitem.type !== headline-with-line">
                        <div class="form-line ">
                            <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                            <input type="{{formitem.type}}" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}"  [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                            <div class="help-info">E.g. xyz@xyz.com
                            </div>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'boolean' && formitem.type !== headline-with-line">
                        <div class="form-line form-check">
                            <label  class="form-check-label">
                              <input type="checkbox" name="{{formitem.id}}" class="form-check-input" value="{{formitem.value}}" id="{{formitem.id}}"  [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel> {{formitem.name}}
                              <span class="form-check-sign"><span class="check"></span></span>
                            </label>
                        </div>
                    </div>


                      <div class="form-group" *ngIf="(formitem.type == 'integer' || formitem.type == 'number' || formitem.type == 'decimal') && formitem.type !== headline-with-line">
                          <div class="form-line ">
                            <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                            <input type="number" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}" [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel  [attr.maxlength]="formitem?.params?.maxLength"
                            [attr.minlength]="formitem?.params?.minLength">
                          </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'date' && formitem.type !== headline-with-line">
                          <div class="form-line ">
                            <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                            <input type="date" name="{{formitem.id}}" class="form-control" value="{{formitem.value}}" id="{{formitem.id}}" [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                          </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'multiline' && formitem.type !== headline-with-line">
                          <div class="form-line ">
                            <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                            <textarea type="text" name="{{formitem.id}}" class="form-control"  id="{{formitem.id}}" [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel >{{ formitem.value }}</textarea>
                            
                          </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'multi-line-text' && formitem.type !== headline-with-line">
                        <div class="form-line ">
                          <label class="" [ngClass]="formitem.required ? 'required' : ''">{{ formitem.name }}</label>
                          <textarea type="text" name="{{formitem.id}}" class="form-control"  id="{{formitem.id}}" [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>{{ formitem.value }}</textarea>
                          
                        </div>
                    </div>

                      <div class="form-group" *ngIf="formitem.type == 'dropdown' && formitem.type !== headline-with-line">
                          <div>
                            <label>{{ formitem.name }}</label>
                            <select class="browser-default" name="{{formitem.id}}" [required]="formitem.required" [attr.readonly]="formitem.readOnly" ngModel>
                              <option value="{{option.name}}" selected="{{option.name == formitem.value}}" *ngFor="let option of formitem.options">{{option.name}}</option>
                            </select>
                          </div>
                      </div>

                      <div class="form-group" *ngIf="formitem.type == 'radio-buttons' && formitem.type !== 'headline-with-line'">
                          <div >
                            <label>{{ formitem.name }}</label>
                            <div class="form-check form-check-radio" *ngFor="let option of formitem.options">
                              <label>
                                <input type="radio" name="{{formitem.id}}" value="{{option.name}}" id="{{formitem.id}}-{{option.name}}" [required]="formitem.required" [checked]="formitem.value == option.name" ngModel><span> {{option.name}}</span>
                              </label>
                            </div>
                          </div>
                      </div>

                      <div class="form-group" *ngIf="(formitem.type == 'pdf-viewer' || formitem.type == 'upload')&& formitem.type !== 'headline-with-line'">
                          <div >
                            <label>{{ formitem.name }}</label>
                            <div class="file-field input-field" style="margin: 0;">
                              <div class="btn">
                                <span>File</span><input type="file" name="fileUpload" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate valid" type="text"></div>
                            </div>
                          </div>
                      </div>
                    </div>
                  

                    <div class="files" style="width: 100%">
                      <div class="row col-md-12">
                        <div class="col-md-12 m-b-10 row-border" *ngFor="let item of contentData?.data">
                          <div class="file-name">
                            <i class="fas fa-file-{{item.simpleType}}"></i>
                            <div>{{item.name}}</div>
                          </div>
                          <div class="file-date">
                            Added By {{item.created | timeAgo}}
                          </div>
                          <div class="action-buttons">
                            <a class="download m-r-10" target="_blank" download="{{item.name}}" href="{{urldownload}}DB-task/app/rest/content/{{item.id}}/raw" (click)="$event.stopPropagation();"><i class="fas fa-file-download"></i></a>
                            <a class="clear" (click)="deleteContent(item.id)"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row col-lg-12 text-right" *ngIf="checkcondition(taskDetails?.endDate, taskDetails?.assignee?.id)">
                    <div class="m-l-0 m-b-20">
                      <button type="submit"
                      class="btn btn-info m-r-10 waves-effect" [disabled]="singleTask.invalid" >Save</button>
                      
                      <button type="button"
                      class="btn btn-danger waves-effect" *ngIf="taskDetails?.formKey == 'frmValidate'" (click)="completeTask('validation', singleTask)">Complete</button>
                      <button type="button"
                      class="btn btn-danger waves-effect" *ngIf="taskDetails?.formKey == 'frm_matching_process'" (click)="completeTask('Match', singleTask)">Match</button>
                      <button type="button"
                      class="btn btn-danger waves-effect" *ngIf="taskDetails?.formKey == 'frmDuplicateCheck'" (click)="completeTask('duplicate', singleTask)">Check Duplicate</button>
                      <button type="button"
                      class="btn btn-danger  waves-effect" *ngIf="taskDetails?.formKey !== 'frmDuplicateCheck' && taskDetails?.formKey !== 'frm_matching_process' && taskDetails?.formKey !== 'frmValidate' && taskDetails?.formKey === 'frmAP_new'" (click)="completeTask('complete', singleTask)">Complete</button>
                      <button type="button"
                      class="btn btn-danger waves-effect" *ngIf="taskDetails?.formKey !== 'frmDuplicateCheck' && taskDetails?.formKey !== 'frm_matching_process' && taskDetails?.formKey !== 'frmValidate' && taskDetails?.formKey !== 'frmAP_new'" (click)="completeTask('default', singleTask)">Complete</button>
                    </div>
                  </div>
                </form>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 padding-left-0" >
      <div class="card">
        <div class="body">

          <div id="aniimated-thumbnials" class="list-unstyled row clearfix text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-flex" style="margin-bottom: 0px">
              <!-- <div class="col-lg-6 display-flex">
                <span>Zoom In/Out</span> <input type="number" placeholder="zoom" value="1" (input)="changeZoomInOut($event)">
              </div> -->
              <!-- <div class="col-lg-6  display-flex">
                <span>Enter Page </span> <input type="number" placeholder="Page Number" value="1" (input)="changeInputPage($event)">
              </div> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;" id="pdfContainer" (window:resize)="onResize($event)">
              <div class="pdf-canvass">
                <div *ngIf="pdfLoader" class="loader-div pdf-loader" style="left: 0px; flex-direction: column;">
                    <div class="preloader">
                      <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                    <div style="margin-top: 10px;">Uploading in progres.....</div>
                </div>
                <pdf-viewer [src]="pdfUrl" 
                            [render-text]="false"
                            [fit-to-page]="true"
                            [show-all]="false"
                            [zoom]="zoompage"
                            [(page)]="pdfpage"
                            [autoresize]="false"
                            (page-rendered)="pageRendered($event)"
                            style="display: block;"
                ></pdf-viewer>
              </div>
              <div *ngIf="!pdfUrl"> PDF not available </div>

              <!-- <a href="assets/images/image-gallery/1.jpg" data-sub-html="Demo Description">
                <img class="img-responsive thumbnail"
                src="assets/images/image-gallery/thumb/thumb-1.jpg" alt="">
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <app-taskdetails *ngIf="isDetailsShow" [subTaskLists]="subTasklists" [commentDetails]="commentDetails" [taskId]="taskDetails?.id" [processInstanceId]="taskDetails?.processInstanceId" [involvePeopleList]="involvePeopleList" [contentData]="contentData" (refreshTask)="fetchSingleTask()" (contentRefresh)="fetchContent()" (refreshSubTask)="fetchSubTask()" (deleteContent)="deleteContent($event)"  (refreshComments)="fetchLatestComment()"></app-taskdetails>
  </div>
</section>

<div class="modal fade" id="select_person" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-line">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="usersData" [searchKeyword]="keyword" (selected)='selectEvent($event)' placeHolder="Search User"
                    (inputChanged)='onChangeSearch($event)' (inputCleared)="clearInput($event)"
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <div class="auto-complete-item"><i class="far fa-user"></i> <a [innerHTML]="item.fullName"></a></div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <!-- <input type="text" id="email_address" class="form-control" placeholder="TO"> -->
              </div>



            </div>
            <label>Use ↑ and ↓ to select and press Enter to confirm</label>
            <h4>Matching people</h4>
            <label>Use the search box above to find users</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect cancel hide" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>