.custom-indexer-info {
	margin-top: 5px!important;
    padding: 10px 20px!important;
}
.with-claim-button {
  display: flex;
  justify-content: space-between;
}
.strong {
	font-weight:600;
}
.task-bcrumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .fa-edit {
    font-size: 18px;
  }
}
.loader-div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #ddddddb8;
}
textarea.form-control {
  height: 41px;
  resize: none;
  padding-left: 10px;
  border-radius: 4px;
}

.form-group input.form-control {
  margin: 0;
  font-size: 13px;
  padding-left: 10px;
  border: 1px solid #b8b8b8;;
  border-radius: 4px;
}

.form-group input.form-control[readonly=true],
 textarea.form-control[readonly=true], 
 select[readonly=true] {
  background-color: #ddd;
}

.file-name {
  font-size: 13px;
  font-weight: 600;
  color: #347c00;
  padding-left: 15px;
  position: relative;
  .fas {
    position: absolute;
    left: 0px;
    top: 2px;
  }
}
.row-border {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
.action-buttons {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 15px;
}
.download,.clear {
  cursor: pointer;
}
.no-form {
  text-align: center;
  margin-top: 17px;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 19px;
  color: #a92510;
}

.file-date {
  font-size: 11px;
  padding-top: 3px;
  color: #616161;
}

.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  input {
    width: 31% !important;
    margin-left: 14px !important;
  }
}

.auto-complete-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 1px 0px 5px #ddd;
}

.form-control.ng-valid.ng-touched {
  border: 1px solid green;
  box-shadow: 1px 0px 5px #ddd;
}

.form-group label.required:after {
  content:"*";
  color:red;
}