<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form"  #myform="ngForm" (ngSubmit)="signIn(myform.value)">
        <span class="login100-form-title p-b-45">
          <img src="assets/images/logo-login.png" alt="" />
        </span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="user" ngModel>
          <span class="focus-input100"></span>
          <span class="label-input100">User</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="pass" ngModel>
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>
        <!-- <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""> Remember me
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>
          <div>
            <a routerLink="/authentication/forgot-password" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div> -->


        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

        <!--  <div class="text-center p-t-45 p-b-20">
          <span class="txt2">
            or sign up using
          </span>
        </div> -->

      <!--   <div class="login100-form-social flex-c-m">
          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fab fa-twitter"></i>
          </a>
        </div> -->
      </form>

      <div class="login100-more" style="background-image: url('assets/images/pages/bg-01.png');">
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="limiter">
  <div class="container-login100 bg-img-login" style="background-image: url('assets/images/pages/new.jpeg');">
      <form class="login100-form validate-form" #myform="ngForm" (ngSubmit)="signIn(myform.value)">
        <img src="assets/images/logo-login.png" style="margin-bottom: 20px"/>
      
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="user" ngModel>
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="pass" ngModel>
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>

        <div class="flex-sb-m w-full p-t-15 p-b-20">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""> Remember me
              <span class="form-check-sign">
                <span class="check"></span>
              </span>
            </label>
          </div>

          <div>
            <a routerLink="/authentication/forgot-password" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
        
        <div class="text-center p-t-45 p-b-20">
          <span class="txt2">
            Powerd By
          </span>
        </div>
        <div class="text-center">
          <img src="assets/images/data-dox-130x100-300dpi.png" style="margin-bottom: 20px"/>
        </div>
      </form>
  </div>
</div> -->