<div *ngIf="showLoadingIndicatior" class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30">
            <img class="loading-img-spin" src="assets/images/loading.gif" width="20" height="20" alt="admin">
        </div>
        <p>Please wait...</p>
    </div>
</div>
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div id="main-component" (window:resize)="onResize($event)">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header" *ngIf="currentUrl !=='defination'">
                <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="#" onClick="return false;" class="bars"></a>
                <a class="navbar-brand" routerLink="dashboard/main">
                    <img src="assets/images/logo-login.png" alt="" />
                    <!-- <span class="logo-name">Lorax</span> -->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="pull-left">
                    <li style="width:50%" *ngIf="currentUrl ==='defination'">
                        <img src="assets/images/logo-login.png" alt="" />
                    </li>
                    <li *ngIf="currentUrl !== 'defination'">
                        <a href="#" onClick="return false;" class="sidemenu-collapse">
                            <i class="material-icons">reorder</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-pull" *ngIf="currentUrl !== 'defination'">
                  <li *ngFor="let item of listOfApps;">
                    <a href="#" (click)="selectApp(item)" class="dropdown-toggle task-section task-app" [ngClass]="((selectedTaskItem?.defaultAppId == item?.defaultAppId && item?.appDefinitionId == null ) || (selectedTaskItem?.appDefinitionKey == item?.appDefinitionKey)) ? 'selected' : ''" data-toggle="dropdown" role="button">
                        <i class="material-icons">{{item?.icon}}</i>
                        {{(item?.appDefinitionKey || item?.defaultAppId) | titlecase}}
                    </a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Full Screen Button -->
                    <!-- <li class="fullscreen">
                        <a href="javascript:;" class="fullscreen-btn">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li> -->
                    <!-- #END# Full Screen Button -->
                    <!-- #START# Notifications-->
                    <!-- <li class="dropdown">
                        <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                            role="button">
                            <i class="far fa-bell"></i>
                            <span class="label-count bg-orange"></span>
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user1.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">Sarah Smith</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user2.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">Airi Satou</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user3.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">John Doe</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user4.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">Ashton Cox</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user5.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">Cara Stevens</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user6.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">Charde Marshall</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <span class="table-img msg-user">
                                                <img src="assets/images/user/user7.jpg" alt="">
                                            </span>
                                            <span class="menu-info">
                                                <span class="menu-title">John Doe</span>
                                                <span class="menu-desc">
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </span>
                                                <span class="menu-desc">Please check your email.</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#" onClick="return false;">View All Notifications</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- #END# Notifications-->
                    <li class="dropdown user_profile">
                        <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                            role="button">
                            <img src="assets/images/user/user.png" width="32" height="32" alt="User">
                            <span class="user-top-name"> {{userAccount.fullName | titlecase}}</span>
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="body">
                                <ul class="user_dw_menu">
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <i class="material-icons">person</i>Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <i class="material-icons">feedback</i>Feedback
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">
                                            <i class="material-icons">help</i>Help
                                        </a>
                                    </li>
                                    <li>
                                      <a (click)="logoutApp()">
                                        <i class="material-icons">power_settings_new</i>Logout
                                      </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right">
                        <a href="#" onClick="return false;" class="js-right-sidebar" data-close="true">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar"  *ngIf="currentUrl!=='defination'">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <!-- <li class="sidebar-user-panel">
                      <div class="user-panel">
                        <div class=" image">
                          <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle"
                                alt="User Image" />
                        </div>
                      </div>
                      <div class="profile-usertitle">
                        <div class="sidebar-userpic-name"> Rohit DB </div>
                        <div class="profile-usertitle-job ">Manager </div>
                      </div>
                    </li> -->
                    <li routerLinkActive="active" *ngIf="currentUrl!=='defination'">
                      <a routerLink="dashboard/main">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                      </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="currentUrl!=='defination'">
                      <a class="menu-toggle" [ngClass]="topManuActive ? 'waves-effect waves-block toggled' : ''" >
                        <i class="far fa-edit"></i>
                        <span>Queue</span>
                      </a>
                      <ul class="ml-menu" [ngStyle]="{'display': topManuActive ? 'block' : 'none' }">
                        <li *ngFor="let item of listOfQueue">
                          <a routerLink="task/{{item}}" [ngClass]="checkIndexOf(item) ? 'active' : 'no-active'"  class="menuListIcon"><i class="material-icons">label_outline</i> {{item}}</a>
                        </li>
                      </ul>  
                    </li>
                    <li routerLinkActive="active" *ngIf="currentUrl!=='defination'">
                      <a routerLink="process">
                        <i class="fas fa-recycle"></i>
                        <span>Process</span>
                      </a>
                    </li> 
                    <li routerLinkActive="active" *ngIf="currentUrl!=='defination'">
                      <a routerLink="cases">
                        <i class="material-icons">work</i>
                        <span>Cases</span>
                      </a>
                    </li> 
                      <!-- <ul class="ml-menu">
                          <li routerLinkActive="active">
                              <a routerLink="task/task">Tasks</a>
                          </li>
                          <li routerLinkActive="active">
                              <a routerLink="process">Process</a>
                          </li>
                          <li routerLinkActive="active">
                              <a routerLink="task/cases">Cases</a>
                          </li>
                      </ul> -->
                   
                    <li routerLinkActive="active" *ngIf="currentUrl!=='defination'">
                        <a routerLink="report" class="menu-toggle" [ngClass]="topManuActive ? 'waves-effect waves-block toggled' : ''">
                          <i class="fas fa-tachometer-alt"></i>
                          <span>Report</span>
                        </a>
                        <ul class="ml-menu" [ngStyle]="{'display': topManuActive ? 'block' : 'none' }">
                          <li routerLinkActive="active">
                            <a routerLink="report/pending-queues">Pending Queue</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="report/completed-invoices">Completed Invoices</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="report/payment-ageing-report">Payment Ageing Report</a>
                          </li>
                        </ul>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <i class="fas fa-id-card"></i>
                            <span>Authentication</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="authentication/signin">Sign In</a>
                            </li>
                          </ul>
                    </li> -->
                            <!-- <li routerLinkActive="active">
                                <a routerLink="authentication/signup">Sign Up</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="authentication/forgot-password">Forgot Password</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="authentication/locked">Locked</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="authentication/page404">404 - Not Found</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="authentication/page500">500 - Server Error</a>
                            </li> -->
                        
                    
                </ul>
            </div>
            <p style="color: #444;z-index: 999;position: absolute;bottom: 0px;left: 37px;letter-spacing: 2px">Version: {{version}}</p>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation">
                    <a href="#skins" data-toggle="tab" class="active">SKINS</a>
                </li>
                <li role="presentation">
                    <a href="#settings" data-toggle="tab">SETTINGS</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active in active stretchLeft" id="skins">
                    <div class="demo-skin">
                        <div class="rightSetting">
                            <p>GENERAL SETTINGS</p>
                            <ul class="setting-list list-unstyled m-t-20">
                                <li>
                                    <div class="form-check">
                                        <div class="form-check m-l-10">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> Save
                                                History
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <div class="form-check m-l-10">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> Show
                                                Status
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <div class="form-check m-l-10">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> Auto
                                                Submit Issue
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <div class="form-check m-l-10">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> Show
                                                Status To All
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rightSetting">
                            <p>SIDEBAR MENU COLORS</p>
                            <button type="button"
                                class="btn btn-sidebar-light btn-border-radius p-l-20 p-r-20">Light</button>
                            <button type="button"
                                class="btn btn-sidebar-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                        </div>
                        <div class="rightSetting">
                            <p>THEME COLORS</p>
                            <button type="button"
                                class="btn btn-theme-light btn-border-radius p-l-20 p-r-20">Light</button>
                            <button type="button"
                                class="btn btn-theme-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                        </div>
                        <div class="rightSetting">
                            <p>SKINS</p>
                            <ul class="demo-choose-skin choose-theme list-unstyled">
                                <li data-theme="black" class="actived">
                                    <div class="black-theme"></div>
                                </li>
                                <li data-theme="white">
                                    <div class="white-theme white-theme-border"></div>
                                </li>
                                <li data-theme="purple">
                                    <div class="purple-theme"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue-theme"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan-theme"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green-theme"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange-theme"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="rightSetting">
                            <p>Disk Space</p>
                            <div class="sidebar-progress">
                                <div class="progress m-t-20">
                                    <div class="progress-bar l-bg-cyan shadow-style width-per-45" role="progressbar"
                                        aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="progress-description">
                                    <small>26% remaining</small>
                                </span>
                            </div>
                        </div>
                        <div class="rightSetting">
                            <p>Server Load</p>
                            <div class="sidebar-progress">
                                <div class="progress m-t-20">
                                    <div class="progress-bar l-bg-orange shadow-style width-per-63" role="progressbar"
                                        aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="progress-description">
                                    <small>Highly Loaded</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane stretchRight" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" checked>
                                        <span class="lever switch-col-green"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox">
                                        <span class="lever switch-col-blue"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" checked>
                                        <span class="lever switch-col-purple"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" checked>
                                        <span class="lever switch-col-cyan"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" checked>
                                        <span class="lever switch-col-red"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox">
                                        <span class="lever switch-col-lime"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </div>
</div>
<router-outlet></router-outlet>